@media only screen and (min-width: 32.5em) {
    #wendiPhoto{float: right; margin-top: -100px;}
    h1{color: #134266; font-family: "permanent marker", cursive; font-size: 50px;}
    h2{color: #134266; font-family: "permanent marker", cursive; font-size: 40px;}
    h3{color: #134266; font-family: "architects daughter", cursive; font-size: 22px;}
    p{color: #134266; font-family: "architects daughter", cursive; font-size: 22px;}
}