body {
  background-color: orange; }

h1, h2 {
  font-family: "merriweather"; }

p, li {
  font-family: "inconsolata"; }

@media only screen and (max-width: 37.49em) {
  h1 {
    font-size: .85rem;
    color: purple; } }
@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 1rem;
    color: red; } }
@media only screen and (min-width: 60em) {
  h1 {
    font-size: 2rem;
    color: green; } }
