h1{font-size: 1.75rem;}
h2{font-size: 1.25rem;}
p, li, h3{font-size: 1rem;}
header img, footer img{width: 5rem;}
footer p, footer a{font-size: .85rem;}
img{width: 7.5rem; margin-top: -3.5rem;}
h2, h3, h4, p{margin-left: 4rem;}
li{margin-left: 2rem;}