h1{font-size: 1.5rem;}
h2{font-size: 1rem;}
p, li, h3, footer p, footer a{font-size: .85rem;}
header{height: 5rem;}
header h1{margin-bottom: 0;}
header p{margin-top: 0;}
header img{width: 2rem; padding-top: .5rem;}
footer img{width: 5rem;}
img{width: 5rem; margin-top: -3rem;}
h2, h3, h4, p{margin-left: 2.5rem;}
li{margin-left: .5rem;}