#you-are-here{background-color:#FC9E4F; color: #293132;}
h1, h2{font-family: "raleway"; color: #293132;}
h3, h4{font-family: "solway"; color: #293132;}
p, a{font-family: "montserrat"; color: #293132;}
li{font-family: "montserrat"; color: #f1f1f1;}
h2, h3, h4, p{text-align: center;}
main{margin-top: 3rem;}
img{display: block; margin-left: auto; margin-right: auto; padding: 1rem; width: 80%;}
#manhattan-photo{width: 50%;}
header{margin-top: -1rem; background-color: #ff521b; text-align: center;}
body{padding:10px 0; margin:0 auto; background-color:#edd382;}
header h1{padding-top: 15px;}
#name{font-weight: bold; padding-right: 4rem; font-size: 2rem; font-family: "raleway";}
#icon-right{float: right;}
#icon-left{float: left; margin-top:-1rem; width: 5rem;}
#attention{width: 40%; text-align: center; border-style: solid; border-color: #FC9E4F; border-width: 2px; border-radius: 10px; margin: auto; margin-top: 10px; padding: 10px; margin-bottom: 1rem;}

.history, .templeServices, .weather{width: 33%; float: left;}
.ordinances, .jordanCard, .kansascityCard{width: 49%; float: left;}
.photos{width: 75%; margin: auto;}
.thisMap{width: 50%; margin-left: 25%;} 
#jordan, #manhattan, #sanantonio, #rexburg, #kansascity, #sacramento{width: 48%; float: left; border-width: 2px; border-left-style: solid; border-left-color: #fc9e4f; border-top-style: solid; border-top-color: #fc9e4f;}
#manhattan, #rexburg, #sacramento{border-right-style: solid; border-right-color: #fc9e4f; margin-right: 1rem;}
#kansascity, #jordan, #sanantonio{margin-left: 1rem;}
#sacramento, #kansascity{border-bottom-style: solid; border-bottom-color: #fc9e4f; margin-bottom: 1rem;}
#jordan{border-top-left-radius: 10px;}
#manhattan{border-top-right-radius: 10px;}
#kansascity{border-bottom-left-radius: 10px;}
#sacramento{border-bottom-right-radius: 10px;}