header img{width: 50px;}
header h1{font-size: 1rem; margin-top: 10px; margin-bottom: 0;}
header a{font-size: .9rem;}
h2{font-size: .9rem;}
p{font-size: .8rem;}
#icon-right{display: none;}
#icon-left{margin-left: 45px;}