/*small screen*/
body{width: 80%; margin: auto;}
h1{color: #134265; font-family: "notable"; font-size: .75rem; padding: .5rem;}
h2, h3{color: #134265; font-family: "notable", cursive; text-align: center;}
h2{font-size: .75rem;}
h3{font-size: .5rem;} 
p, a, div, label, li {font-family: "maven pro", cursive; font-size: .75rem;}
a:hover{text-decoration: none; background-color: #134265;}
ul{list-style: none;}
a:link, a:visited{color: black; font-family: "maven pro";}
header, footer, #dailyMess {background-color: goldenrod; width: 100%; border-radius: 10px; margin-top: 2rem; text-align: center; font-family: "maven pro";}
header{height: 4rem;}
footer{font-size: .85rem; height: 3rem;}
#left-logo, #right-logo {height: 3rem; border-radius: 50%; margin-top: .25rem;}
#left-logo{float: left; margin-left: 2rem;}
#right-logo{float: right; margin-right: 2rem;}
#you-are-here{background-color: #134265;}
#navigation{display:none;}
#dailyMess{padding: .5rem; width: 95%}
#map-image{display:none;}
#contact{border-style: solid; border-color: goldenrod; margin-top: 1rem; padding: 1rem; margin: auto; margin-top: 1rem;}
#contact-info{text-align: center;}
#socialMedia{display: block; align-items: center; text-align: center;}
#facebook, #twitter, #linkedin {width: 30px; padding: .1rem;}
main{margin-top: 4rem;}
#stormReport{text-align: left;}
label{padding-bottom: .5rem;}
.contactInfo, .stormInfo, .addInfo, #word{margin-bottom: .75rem; margin-left: 1.25rem;}
form fieldset, #report, #submitButton{margin-left: 4rem; margin-right: 4rem; margin-bottom: 2rem;}
form fieldset{border-radius: 15px; border-color: goldenrod;}
form legend{margin: 1rem; color: #134265; font-family: "notable";}
#largeTextArea{display:none;}

/*medium screen*/
@media only screen and (min-width: 37.5em) {
    h1{font-size: 1.5rem;}
    h2{font-size: 1.5rem;}
    h3{font-size: 1.25rem;}
    p, a, div, label, li{font-size: 1rem;}
    ul{display: inline-block;}
    li{padding: .5rem; margin-top: -2rem; float: left;}
    header{height: 7.1rem;}
    #left-logo, #right-logo {height: 4rem; margin-top: .25rem;}
    #left-logo{display: block; float: left; margin-left: 3rem;}
    #right-logo{margin-right: 3rem;}
    #menuButton{display: none;}
    #myNav{display: inline-block;}
    .overlay, .closebtn, .openbtn {display: none;}
    #map-image{display: flex; float: left; height: 10rem;}
    p{margin: auto;}
    #dailyMess {width: 97%;}
    #contact{border-style: solid; border-color: goldenrod; margin-top: 1rem; height: 10rem; padding: 1rem; margin: auto; margin-top: 1rem;}
    #contact-heading{margin-top: -.1rem;}
    #smallTextArea{display:none;}
    #largeTextArea{display: block;}
}

/*transitional screen size is doing weird things to my contact section*/
@media only screen and (min-width: 45em) {
    #map-image{height: 15rem;}
    #contact{height: 15rem;}
    #contact-heading{margin-top: 2rem;}
}

/*large screen*/
@media only screen and (min-width: 60em) {
    h1{font-size: 2rem;}
    h2{font-size: 1.75rem;}
    h3{font-size: 1.5rem;}
    table{margin-left: -1rem;}
    th, tr {font-size: 1rem;}
    #left-logo, #right-logo {height: 5rem; margin-top: .5rem;}
    #left-logo{margin-left: 5rem;}
    #right-logo{margin-right: 5rem;}
    #dailyMess {width: 99%;}
    #map-image {height: 20rem;}
    #contact{border-style: solid; border-color: goldenrod; margin-top: 1rem; height: 20rem; padding: 1rem; margin: auto; margin-top: 1rem;}
    #contact-heading{margin-top: 5rem;}
}