/*small screen*/
#stormPic{width: 18.25rem;}
#thanks{font-size: 1rem; font-family: "maven pro"; display: block; text-align: center;}
#imageContainer{display: block; text-align: center;}

/*medium screen*/
@media only screen and (min-width: 37.5em) {
#stormPic{width: 27.5rem;}
#thanks{font-size: 1.5rem;}
}

/*large screen*/
@media only screen and (min-width: 60em) {
#stormPic{width: 29rem;}
#thanks{font-size: 2rem;}
}