#you-are-here {
  background-color: #FC9E4F;
  color: #293132; }

h1, h2 {
  font-family: "raleway";
  color: #293132; }

h3, h4 {
  font-family: "solway";
  color: #293132; }

p, a {
  font-family: "montserrat";
  color: #293132; }

li {
  font-family: "montserrat";
  color: #f1f1f1; }

h2, h3, h4 {
  text-align: center; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 80%; }

header {
  margin-top: -1rem;
  background-color: #ff521b;
  text-align: center; }

body {
  padding: 10px 0;
  margin: 0 auto;
  background-color: #edd382; }

header h1 {
  padding-top: 15px; }

#name {
  font-weight: bold;
  padding-right: 1rem;
  font-family: "raleway"; }

#icon-left {
  float: left;
  margin-top: -1rem; }

#attention {
  width: 40%;
  text-align: center;
  border-style: solid;
  border-color: #FC9E4F;
  border-width: 2px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 1rem; }

#temple-summary {
  border-style: solid;
  border-color: #FC9E4F;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1rem; }

#temple-summary p {
  margin-top: -1rem;
  text-indent: 25px;
  margin-bottom: 0; }

.temples, fieldset {
  float: left;
  border-style: solid;
  border-color: #FC9E4F;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 1rem; }

#submitButton {
  margin-right: 3rem;
  margin-top: 1rem; }

#button {
  text-align: center; }

@media only screen and (max-width: 37.49em) {
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px; }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s; }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1; }

  .overlay a {
    font-size: 1rem; }

  .overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 35px; }

  .openbtn {
    float: right;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 50px; }

  ul {
    list-style-type: none; }

  header {
    height: 2rem; }

  header h2 {
    font-size: 1rem;
    padding-top: .5rem;
    color: #f1f1f1; }

  .openbtn {
    margin-left: -15rem; }

  header a, header li {
    font-size: .8rem; }

  h2 {
    font-size: .8rem;
    line-height: 1rem; }

  #icon-left {
    margin-left: 45px;
    width: 3rem;
    margin-top: -2.75rem; }

  #temple-summary {
    float: none;
    width: 85%;
    margin: auto;
    margin-top: 10px; }

  #temple-summary p {
    font-size: .8rem; }

  .temples {
    float: none;
    width: 37%;
    margin-top: 10px; }

  #temple-pictures {
    text-align: center; }

  #largeTextArea, #name {
    display: none; }

  fieldset {
    width: 90%;
    margin: auto;
    height: 20rem;
    margin-left: 1rem; } }
@media only screen and (min-width: 37.5em) {
  header h2 {
    display: none; }

  header a, header li {
    font-size: .8rem; }

  #name {
    font-size: 1rem; }

  h2 {
    font-size: 1rem;
    line-height: 1.25rem; }

  #icon-left {
    float: left;
    margin-left: -5px;
    width: 5.5rem; }

  .openbtn, .closebtn {
    display: none; }

  #temple-summary {
    float: right;
    width: 50%; }

  #temple-summary p {
    font-size: .82rem; }

  .temples {
    width: 35%; }

  #smallTextArea {
    display: none; }

  #largeTextArea {
    display: block; }

  fieldset {
    width: 90%;
    margin: auto;
    height: 20rem;
    margin-left: 1rem; }

  #nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ff521b; }

  #nav li {
    position: relative;
    display: inline; }

  #nav a {
    display: inline-block;
    padding: 10px; }

  #nav ul {
    position: absolute;
    left: -9999px;
    margin: 0;
    padding: 0;
    text-align: left; }

  #nav ul li {
    display: block; }

  #nav li:hover ul {
    left: 0; }

  #nav li:hover a {
    text-decoration: underline;
    background-color: #FC9E4F;
    color: #293132; }

  #nav li:hover ul a {
    text-decoration: none;
    background-color: #FC9E4F;
    color: #293132; }

  #nav li:hover ul a:hover {
    text-decoration: underline;
    background-color: #FC9E4F;
    color: #293132; }

  #nav ul a {
    white-space: nowrap;
    display: block; }

  a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold; }

  a:hover {
    text-decoration: underline;
    background-color: #FC9E4F;
    color: #293132; } }
@media only screen and (min-width: 60em) {
  header h2 {
    display: none; }

  header a, header li {
    font-size: 1rem; }

  #name {
    font-size: 1.5rem; }

  h2 {
    font-size: 1.5rem;
    line-height: 2rem; }

  #icon-left {
    float: left;
    margin-left: 20px;
    width: 5.5rem; }

  .openbtn, .closebtn {
    display: none; }

  #temple-summary {
    float: left;
    width: 50%; }

  #temple-summary p {
    font-size: 1rem; }

  .temples {
    width: 19%; }

  fieldset {
    width: 45%;
    margin: auto;
    height: 20rem;
    margin-left: 1rem; }

  #nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ff521b; }

  #nav li {
    position: relative;
    display: inline; }

  #nav a {
    display: inline-block;
    padding: 10px; }

  #nav ul {
    position: absolute;
    left: -9999px;
    margin: 0;
    padding: 0;
    text-align: left; }

  #nav ul li {
    display: block; }

  #nav li:hover ul {
    left: 0; }

  #nav li:hover a {
    text-decoration: underline;
    background-color: #FC9E4F;
    color: #293132; }

  #nav li:hover ul a {
    text-decoration: none;
    background-color: #FC9E4F;
    color: #293132; }

  #nav li:hover ul a:hover {
    text-decoration: underline;
    background-color: #FC9E4F;
    color: #293132; }

  #nav ul a {
    white-space: nowrap;
    display: block; }

  a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold; }

  a:hover {
    text-decoration: underline;
    background-color: #FC9E4F;
    color: #293132; } }
