h1, h2 {
  font-family: "merriweather"; }

p, h3, h4, li, a {
  font-family: "inconsolata"; }

header, footer {
  background-color: #00aeff;
  width: 90%;
  text-align: center;
  margin: auto;
  border-radius: 10px; }

ul {
  list-style-type: none;
  display: inline-block; }

li {
  float: left; }

a:link, a:visited {
  color: black; }

a:hover, .hover, #you-are-here {
  text-decoration: none;
  color: white;
  background-color: #012435; }

#back-to-portal {
  float: none;
  padding-top: 1rem; }

#something {
  font-weight: normal; }

@media only screen and (max-width: 37.49em) {
  h1 {
    font-size: 1.5rem; }

  h2 {
    font-size: 1rem; }

  p, li, h3, #foot-text {
    font-size: .85rem; }

  img {
    width: 5rem;
    margin-top: -3rem; }

  h2, h3, #foot-text, p, #typo {
    margin-left: 2.5rem; }

  li {
    margin-left: .5rem; } }
@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 1.75rem; }

  h2 {
    font-size: 1.25rem; }

  p, li, h3, #foot-text {
    font-size: 1rem; }

  img {
    width: 7.5rem;
    margin-top: -3.5rem; }

  h2, h3, #foot-text, p, #typo {
    margin-left: 4rem; }

  li {
    margin-left: 2rem; } }
@media only screen and (min-width: 60em) {
  h1 {
    font-size: 2rem; }

  h2 {
    font-size: 1.5rem; }

  p, li, h3 {
    font-size: 1.25rem; }

  #foot-text {
    font-size: 1rem; }

  img {
    width: 10rem;
    margin-top: 0; }

  li {
    margin-left: 3.5rem; }

  h2, h3, #foot-text, p, img, .indent {
    margin-left: 5.5rem; } }
