/*small screen*/
body{width: 90%; margin: auto; text-align: center;}
h1{color: #134265; font-family: "notable"; font-size: 1rem;}
h2{color: #134265; font-family: "notable", cursive; font-size: 1rem;}
h3{color: #134265; font-family: "maven pro", cursive; font-size: .85rem;}
p, a, div {font-family: "maven pro", cursive; font-size: .75rem;}
a:hover{text-decoration: none; background-color: #134265;}
ul{list-style: none;}
a:link, a:visited{color: black; font-family: "maven pro";}
header, footer, #dailyMess {background-color: goldenrod; width: 100%; border-radius: 10px; margin-top: 2rem; text-align: center; font-family: "maven pro";}
header{height: 4rem;}
footer{font-size: .85rem; height: 3rem;}
#article-text{text-align: left;}
#article-image{width: 75%;}
#article{border-style: solid; border-color: goldenrod; border-radius: 10px; padding: 2rem; margin-top: 1rem;}
#left-logo, #right-logo {height: 3rem; border-radius: 50%; margin-top: .25rem;}
#left-logo{float: left; margin-left: 2rem;}
#right-logo{float: right; margin-right: 2rem;}
#you-are-here{background-color: #134265;}
#navigation{display:none;}
#dailyMess{padding: .5rem; width: 95%}
#map-image{display:none;}
#contact{border-style: solid; border-color: goldenrod; border-radius: 10px; margin-top: 1rem; padding: 1rem; margin: auto; margin-top: 1rem;}
#socialMedia{display: block; align-items: center;}
#facebook, #twitter, #linkedin {width: 30px; padding: .1rem;}
#map-image{display:none;}
main{margin-top: 4rem;}
#wireframes{margin-top: 2rem;}
.towns img {width: 75%;}
.towns section {border-style: solid; border-color: goldenrod; border-radius: 10px; padding: 1rem;}
.towns {display: grid; grid-template-columns: 1fr; grid-gap: 10px; padding: 10px; max-width: 100%;}

/*medium screen*/
@media only screen and (min-width: 37.5em) {
.towns {grid-template-columns: 1fr;}
.towns img {width: 45%; padding: 1rem; margin: auto;}
.towns div{margin: auto;}
.towns section{display: flex; flex-direction: row;}
.towns section:nth-child(odd){flex-direction: row-reverse;}
h1{font-size: 1.5rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.25rem;}
p, a, div{font-size: 1rem;}
ul{display: inline-block;}
li{padding: .5rem; margin-top: -2rem; float: left; font-size: 1rem;}
header{height: 7.1rem;}
#article-image{float: right; margin-top: .5rem; margin-left: 1rem; width: 40%;}
#left-logo, #right-logo {height: 4rem; margin-top: .25rem;}
#left-logo{display: block; float: left; margin-left: 3rem;}
#right-logo{margin-right: 3rem;}
#menuButton{display: none;}
#myNav{display: inline-block;}
.overlay, .closebtn, .openbtn {display: none;}
p {margin: auto; text-align: center;}
#dailyMess {width: 97%;}
#map-image{display: flex; float: left; height: 10rem;}
#contact{border-style: solid; border-color: goldenrod; border-radius: 10px; margin-top: 1rem; height: 10rem; padding: 1rem; margin: auto; margin-top: 1rem;}
#contact-heading{margin-top: -.1rem;}
#wireframes{margin-top: 3rem;}
}

/*transitional screen size is doing weird things to my contact section*/
@media only screen and (min-width: 45em) {
#map-image{height: 15rem;}
#contact{height: 15rem;}
#contact-heading{margin-top: 2rem;}
#wireframes{margin-top: 5rem;}
}

/*large screen*/
@media only screen and (min-width: 60em) {
.towns {grid-template-columns: 1fr 1fr 1fr;}
.towns section{display: block;}
.towns img {width: 95%; padding-right: 1rem; padding-left: .5rem; padding-top: 1rem;}
h3{font-family: "maven pro", cursive;}
h1{font-size: 2rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}
#left-logo, #right-logo {height: 5rem; margin-top: .5rem;}
#left-logo{margin-left: 5rem;}
#right-logo{margin-right: 5rem;}
#dailyMess {width: 99%;}
#map-image {height: 20rem;}
#contact{border-style: solid; border-radius: 10px; border-color: goldenrod; width: 95%; margin-top: 1rem; height: 20rem; padding: 1rem; margin: auto; margin-top: 1rem;}
#contact-heading{margin-top: 5rem;}
#wireframes{margin-top: 7rem;}
}