/*small screen*/
body{width: 80%; margin: auto; text-align: center;}
h1{color: #134265; font-family: "notable"; font-size: 1rem; padding: .5rem;}
h2, h3{color: #134265; font-family: "notable", cursive; font-size: .75rem;}
p, a, div {font-family: "maven pro", cursive; font-size: .75rem;}
#article, #forecast {border-style: solid; border-color: goldenrod; padding: 2rem; margin-top: 1rem;}
#forecast{display:none;}
#summary {position: relative; color: white; font-weight: bold; margin-left: .5rem; margin-top: -4rem; width: 30%; border-style: solid; border-color: goldenrod; background-color: rgba(19, 66, 101, 1);}
a:hover{text-decoration: none; background-color: #134265;}
ul{list-style: none;}
a:link, a:visited{color: black; font-family: "maven pro";}
header, footer, #dailyMess {background-color: goldenrod; width: 100%; border-radius: 10px; margin-top: 2rem; text-align: center; font-family: "maven pro";}
header{height: 4rem;}
footer{font-size: .85rem; height: 3rem;}
#left-logo, #right-logo {height: 3rem; border-radius: 50%; margin-top: .25rem;}
#left-logo{float: left; margin-left: 2rem;}
#right-logo{float: right; margin-right: 2rem;}
#you-are-here{color: white; background-color: #134265;}
#navigation{display:none;}
#menuButton{float:left; margin-bottom: 1rem;}
#lake-image{width: 100%;}
#dailyMess{padding: .5rem; width: 100%}
#map-image{display:none;}
#article-text{text-align: left;}
#article-image{width: 75%;}
table {display: inline-block;}
table {border-style: solid; border-color: goldenrod;}
td {line-height: 2rem; padding: .5rem; background-color: silver;}
th {padding: 1rem; background-color: goldenrod;}


/*medium screen*/
@media only screen and (min-width: 37.5em) {
    h1{font-size: 1.5rem;}
    h2{font-size: 1.5rem;}
    h3{font-size: 1.25rem;}
    p, a, div{font-size: 1rem;}
    ul{display: inline-block;}
    li{padding: 1rem; margin-top: -2rem; float: left; font-size: 1rem;}
    header{height: 7.1rem;}
    #left-logo, #right-logo {height: 4rem; margin-top: .25rem;}
    #left-logo{display: block; float: left; margin-left: 3rem;}
    #right-logo{margin-right: 3rem;}
    #menuButton{display: none;}
    #myNav{display: inline-block;}
    .overlay, .closebtn, .openbtn {display: none;}
    #summary {margin-left: 1rem; width: 25%; padding:.5rem;}
    #forecast{display: block;}
    #forecast-image {width: 70%; margin-top: 1.5rem;}
    #map-image{display: flex; float: left;}
    #contact{border-style: solid; border-color: goldenrod; margin-top: 1rem; height: 15rem; padding: 1rem; display: flex; margin: auto; margin-top: 1rem;} 
    p {margin: auto; text-align: center;}
    #article-image{float: right; margin-top: .5rem; margin-left: 1rem; width: 40%;}
    .sunday, .monday {display: none;}
}

/*large screen*/
@media only screen and (min-width: 60em) {
    h1{font-size: 2rem;}
    h2{font-size: 1.75rem;}
    h3{font-size: 1.5rem;}
    #left-logo, #right-logo {height: 5rem; margin-top: .5rem;}
    #left-logo{margin-left: 5rem;}
    #right-logo{margin-right: 5rem;}
    #summary {margin-left: 5rem; width: 20%;}
}