h1{font-size: 2rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}
a{font-size: 1rem;}
table{margin-left: -1rem;}
th, tr {font-size: 1rem;}

header img, footer img{width: 100px;}

footer img{margin-top: -4rem;}
#summary {margin-left: 5rem; width: 20%;}
#dailyMess {width: 97%;}
#map-image {height: 20rem;}
#contact{margin-top: 1rem; height: 20rem; padding: 1rem; margin: auto; margin-top: 1rem;}
#contact-heading{margin-top: 5rem;}