h1{font-size: .95rem;}
h2, h3{font-size: .85rem;}
p, a, div{font-size: .75rem;}
footer{font-size: .75rem;}
header img{width: 50px;}
footer img{width: 50px; margin-top: -1.5rem;}
header img{margin-top: .25rem;}

#forecast{display:none;}
#summary{margin-left: .5rem; width: 30%; padding: .5rem;}
#map-image{display:none;}
#article-image{width: 75%;}