#you-are-here{text-decoration: underline;}
h1, h2{font-family: "raleway";}
h3, h4{font-family: "solway";}
p, a{font-family: "montserrat";}
h2, h3, h4{text-align: center;}
img{display: block; margin-left: auto; margin-right: auto; padding: 1rem; width: 80%;}
header{margin-top: -2rem; background-color: #119da4; text-align: center;}
body{padding:10px 0; margin:0 auto; background-color:#80ded9;}
header h1{padding-top: 15px;}
#icon-right{float: right;}
#icon-left{float: left;}

#attention{width: 40%; text-align: center; border-style: solid; border-color: #3066be; border-width: 2px; border-radius: 10px; margin: auto; margin-top: 10px; padding: 10px; margin-bottom: 1rem;}
#temple-summary{border-style: solid; border-color: #3066be; border-width: 2px; border-radius: 10px; padding: 10px; margin: auto; margin-top: 10px; margin-bottom: 10px; margin-left: 1rem;}
#temple-summary p{margin-top: -1rem; text-indent: 25px; margin-bottom: 0;}
.temples, fieldset{float: left; border-style: solid; border-color: #3066be; border-width: 2px; border-radius: 10px; padding: 10px; margin-top: 10px; margin-left: 10px; margin-right: 1rem;}
fieldset{width: 45%; margin: auto; height: 22rem; margin-left: 1rem;}
#submitButton{margin-right: 3rem; margin-top: 1rem;}
#button{text-align: center;}