#you-are-here{text-decoration: underline;}
h1, h2{font-family: "raleway";}
h3, p{font-family: "solway";}
a{font-family: "montserrat";}
h2{text-align: center;}
header{background-color: #119da4; text-align: center; border-radius: 10px;}
body{width:85%; padding:10px 0; margin:0 auto;}
header h1{padding-top: 15px;}
#reservaroom{text-align: center; border-style: solid; border-color: #3066be; border-width: 2px; border-radius: 10px; margin: auto; margin-top: 10px; padding: 10px;}
#temple-summary{border-style: solid; border-color: #3066be; border-width: 2px; border-radius: 10px; padding: 10px; margin: auto; margin-top: 10px; margin-bottom: 10px;}
#temple-summary p{margin-top: -1rem; text-indent: 25px; margin-bottom: 0;}
.temples{float: left; border-style: solid; border-color: #3066be; border-width: 2px; border-radius: 10px; padding: 10px; margin-top: 10px; margin-left:10px;}
#icon-right{float: right;}
#icon-left{float: left;}