#you-are-here{background-color:#FC9E4F; color: #293132;}
h1, h2{font-family: "raleway"; color: #293132;}
h3, h4{font-family: "solway"; color: #293132;}
p, a{font-family: "montserrat"; color: #293132;}
li{font-family: "montserrat"; color: #f1f1f1;}
h2, h3, h4, p{text-align: center;}
img{display: block; margin-left: auto; margin-right: auto; padding: 1rem; width: 80%;}
header{background-color: #ff521b; text-align: center;}
body{padding:10px 0; margin:0 auto; background-color:#edd382;}
header h1{padding-top: 15px;}
#temple-name{margin-top: 5rem;}
#name{font-weight: bold; padding-right: 1rem; font-family: "raleway";}
#icon-left{float: left; margin-top:-1rem;}
#attention{width: 40%; text-align: center; border-style: solid; border-color: #FC9E4F; border-width: 2px; border-radius: 10px; margin: auto; margin-top: 10px; padding: 10px; margin-bottom: 1rem;}

#temple-summary, #services, #amenities, #extras{border-style: solid; border-color: #FC9E4F; border-width: 2px; border-radius: 10px; padding: 10px; margin: auto; margin-top: 10px; margin-bottom: 10px; margin-left: 1rem;}
#temple-summary p{margin-top: -1rem; margin-bottom: 0; text-align: left;}
.temples, fieldset{float: left; border-style: solid; border-color: #FC9E4F; border-width: 2px; border-radius: 10px; padding: 10px; margin-top: 10px; margin-left: 10px; margin-right: 1rem;}

#submitButton{margin-right: 3rem; margin-top: 1rem;}
#buttonDiv{text-align: center;}

.amenity-pics{width: 30%; margin: auto; display: inline-block;}
#amenities, #extras, #services{text-align: center;}
.service-links{color: #293132; text-decoration: underline;}

.history, .templeServices, .weather{width: 33%; float: left;}
.ordinances, .jordanCard, .kansascityCard{width: 49%; float: left;}
.photos{width: 75%; margin: auto;}
.thisMap{width: 50%; margin-left: 25%;} 
#jordan, #manhattan, #sanantonio, #rexburg, #kansascity, #sacramento{width: 48%; float: left; border-width: 2px; border-left-style: solid; border-left-color: #fc9e4f; border-top-style: solid; border-top-color: #fc9e4f;}
#manhattan, #rexburg, #sacramento{border-right-style: solid; border-right-color: #fc9e4f; margin-right: 1rem;}
#kansascity, #jordan, #sanantonio{margin-left: 1rem;}
#sacramento, #kansascity{border-bottom-style: solid; border-bottom-color: #fc9e4f; margin-bottom: 1rem;}
#jordan{border-top-left-radius: 10px;}
#manhattan{border-top-right-radius: 10px;}
#kansascity{border-bottom-left-radius: 10px;}
#sacramento{border-bottom-right-radius: 10px;}