header h2{display: none;}
header a, header li{font-size: 1rem;}
#name{font-size: 1.5rem;}
h2{font-size: 1.5rem; line-height: 2rem;}
#icon-left{float: left; margin-left: 20px; width: 5.5rem;}
.openbtn, .closebtn {display: none;}
#temple-summary{float: left; width: 50%;}
#temple-summary p{font-size: 1rem;}
.temples{width: 19%;}
fieldset{width: 45%; margin: auto; height: 20rem; margin-left: 1rem;}