header img{width: 70px;}
header h1{font-size: 1.5rem;}
header a{font-size: .8rem;}
h2{font-size: 1rem; line-height: 1.25rem;}
#icon-right{float: right; margin-right: 25px;}
#icon-left{float: left; margin-left: 25px;}
.openbtn, .closebtn {display: none;}
#temple-summary{float: right; width: 50%;}
#temple-summary p{font-size: .82rem;}
.temples{width: 35%;}
