header h2{display: none;}
header a, header li{font-size: .8rem;}
#name{font-size: 1rem;}
h2{font-size: 1rem; line-height: 1.25rem;}
#icon-left{float: left; margin-left: -5px; width: 5.5rem;}
.openbtn, .closebtn {display: none;}
#temple-summary{float: right; width: 50%;}
#temple-summary p{font-size: .82rem;}
.temples{width: 35%;}
#smallTextArea{display: none;}
#largeTextArea{display: block;}
fieldset{width: 90%; margin: auto; height: 20rem; margin-left: 1rem;}