h1{font-size: 1.75rem;}
h2{font-size: 1.25rem;}
p, li, h3, #foot-text{font-size: 1rem;}
img{width: 7.5rem; margin-top: -3.5rem;}
h2, h3, #foot-text, p, #typo{margin-left: 4rem;}
li{margin-left: 2rem;}