body{width: 100%; margin: auto; text-align: center;}
header h1{padding-top: 1rem;}
header, footer, #dailyMess{width: 90%; text-align: center; margin: auto; border-radius: 10px;}
header, #dailyMess{background-color: rgb(0, 174, 255);}
footer{background-color:  rgb(106, 207, 5);}
h1, h2{font-family: "merriweather";}
p, h3, h4, li, a{font-family: "inconsolata";}
ul{list-style-type: none; display: inline-block;}
li{float: left;}
a:link, a:visited{color: black;}
a:hover, .hover, #you-are-here{text-decoration: none; color: white; background-color: rgb(1, 36, 53);}
#back-to-portal{float: none; padding-top: 1rem;}
header img{margin-top: .5rem; float: left; margin-left: 1rem; vertical-align: middle;}
footer img{margin-bottom: 0; float: right; margin-right: 1rem; vertical-align: text-top;}
main h2{text-align: center; width: 80%; margin: auto; margin-top: 1rem;}
main p{padding: 2rem; text-align: center; width: 80%; margin: auto; margin-top: 1rem;}
#forecast, #article, #contact{border-style: solid; border-color: rgb(0, 174, 255); margin-top: 1rem; padding: 1rem; width: 80%; margin: auto; margin-top: 1rem;}
#hero{margin-top: 1rem; padding: 1rem; width: 80%; margin: auto; margin-top: 1rem;}
#address{padding: 90px 0;}
#article-image{padding-top: 1rem; margin-top: 1rem;}
#article-text{text-align: left;}
#lake-image{width: 100%;}
#dailyMess{padding: .5rem;}