h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
p, li, h3{font-size: 1.25rem;}
header img, footer img{width: 6rem;}
footer p, footer a {font-size: 1rem;}
h2, h3, h4, p{margin-left: 6rem;} 
#map-image{display: flex; float: left; width: 20%;}
#article-image{margin-right: 5rem; float: right; width: 30%;}
#summary {margin-left: 5rem; width: 20%;}
#summary {position: relative; color: white; font-weight: bold; margin-top: -5rem; border-style: solid; border-color: rgb(0, 174, 255); background-color: rgb(1, 36, 53);}
